.a-enter-vr {
  right: 19% !important;
  bottom: 20% !important;
}
.a-enter-vr-button {
  background: url(assets/LogoStart.png) !important;
  background-size: 100% auto !important;
  padding-top: 39.5% !important;
  padding-right: 60% !important;
}
